extends ../layout

block content
  h2= title
  form(action=action method="post")
    input(name="pseudo" type="text" placeholder="pseudo")
    input(name="password" type="password" placeholder="password")
    button.btn.btn-info.btn-block.login(type="submit") Envoyer